---
layout: page
title: About  Me
permalink: /about/
---
<div class="about-wrapper">
  <br>
  <br>
  <br>
  <blockquote>
   <p>The best portion of a good man's life: his little, nameless unremembered acts of kindness and love.</p>   
   <p><span style="padding-left:680px">William Wordsworth</span></p>
  </blockquote>
  <br>
  <br>
  <p> <font size = "4">Hi ! I am Anurag, currently in my senior year of undergraduate degree. I am interested in Maths, Programming and Literature. This little blog is primarily for personal use and is meant to keep track of my thoughts and writings. If you find something interesting please drop a line.</font></p>
  <br>
  <br>
  <br>
  {% for p in site.about %}
  {% assign content = p.paragraph %}
  {% for link in p.links %}
  {% if link.external %}
  {% assign target = '_blank' %}
  {% else %}
  {% assign target = '_self' %}
  {% endif %}
  {% assign a = '<a class="link-1" href="' | append: link.url | append: '" target="' | append: target | append: '">' | append: link.name | append: '</a>' %}
  {% assign content = content | replace_first: '?link?', a %}
  {% endfor %}
  {% if p.text_align %}
  {% assign alignment = p.text_align %}
  {% else %}
  {% assign alignment = 'left' %}
  {% endif %}
  <p style="text-align: {{ alignment }}">{{ content }}</p>
  {% endfor%}

</div>
