---
layout: page
title: About  Me
permalink: /about/
---
<div class="about-wrapper">
  <br>
  <br>
  <br>
  <blockquote>
   <p>The best portion of a good man's life: his little, nameless unremembered acts of kindness and love.</p>   
   <p><span style="padding-left:620px">William Wordsworth</span></p>
  </blockquote>
  <br>
  <br>
  <p> <font size = "4">Hi ! I am Anurag, currently in my senior year of undergraduate degree. I am interested in Maths, Programming and Literature. This little blog is primarily for personal use and is meant to keep track of my thoughts and writings.</font></p>
  <br>
  <p> <font size = "4">I grew up in New Delhi, India, which is a really big and happening city and there's a really good chance you'll easily get lost in the hustle. </font></p>
  <br>
  <p> <font size = "4">I spent Spring'15 in Lausanne, Switzerland and worked as software developer intern at <a href="http://cosmo.epfl.ch"> COSMO, EPFL </a> which is a really nice laboratory working on developing tools and methods for molecular simulation on computer. I also had opportunity to work with <a href="https://en.wikipedia.org/wiki/János_Pach"> Prof. János Pach </a> while in Switzerland. Truly a remarkable experience. </font> </p>
  <br>
  <p> <font size = "4">Want to chat? Feel free to <a href="mailto:anurags92@gmail.com">email me </a> </font></p>
  <br>
  <div align="center"><a href="http://www.easy-hit-counter.com" target="_blank"><img src="http://www.easy-hit-counter.com/counter/?id=57953&style=1" width="83" height="21" border="0" alt="www.easy-hit-counter.com"></a><br><font size="1" face="Arial"><a href="http://www.easy-hit-counter.com" target="_blank">www.easy-hit-counter.com</a></font></div>
  {% for p in site.about %}
  {% assign content = p.paragraph %}
  {% for link in p.links %}
  {% if link.external %}
  {% assign target = '_blank' %}
  {% else %}
  {% assign target = '_self' %}
  {% endif %}
  {% assign a = '<a class="link-1" href="' | append: link.url | append: '" target="' | append: target | append: '">' | append: link.name | append: '</a>' %}
  {% assign content = content | replace_first: '?link?', a %}
  {% endfor %}
  {% if p.text_align %}
  {% assign alignment = p.text_align %}
  {% else %}
  {% assign alignment = 'left' %}
  {% endif %}
  <p style="text-align: {{ alignment }}">{{ content }}</p>
  {% endfor%}

</div>
